.container-fluid{
    background: linear-gradient(to bottom, white , plum);
}
.row{
    margin-top: 13%;
    margin: 7%;
}
.content-box > h1{
    font-size: 3rem;
    font-weight: bolder;    
    color: rgb(78, 0, 78);

}   
.content-box > h1 > span{
    color:purple;
}
.content-box p{
    font-size: 1.4rem;
}
.content-box button{
    background: linear-gradient(to right, rgb(173, 23, 173), rgb(56, 56, 246));
}
header li{
    font-size: 1.4rem;
}
@media screen and (max-width:500px) {
    html{
        font-size: 80%;
    }
}